html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* AGENDA */
#calendar {
    min-height: 750px;
}

.fc .fc-toolbar-title {
    text-transform: capitalize;
}

.fc .fc-button-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.fc .fc-event {
    border-radius: 6px;
    padding: 2px 4px;
    font-size: .85rem;
    cursor: pointer;
}

.fc .fc-daygrid-event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fc .fc-event-main {
    color: #fff;
}

.category-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.day-event-item {
    border-left: 4px solid #0d6efd;
    padding-left: 8px;
}